<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>Intrinsic Reflectance Recovery</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="container">

    <h1>Intrinsic Reflectance Recovery</h1>

    <h3>
        Estimate illumination and recover intrinsic reflectance
        using a manually implemented Retinex pipeline.
    </h3>

    <div class="card">

        <h2>Project Overview</h2>

        <p>
            This application estimates the illumination component of an image
            and recovers the intrinsic reflectance using a manually implemented
            logarithmic transformation, integral image, box filter and
            Retinex-based decomposition. The application supports both
            grayscale and RGB images.
        </p>

    </div>

    <br>

    <div class="card">

        <form action="/process"
              method="POST"
              enctype="multipart/form-data">

            <h2>Select Image</h2>

            <br>

            <input
                type="file"
                name="image"
                accept="image/*"
                required>

            <br><br>

            <label><b>Kernel Size</b></label>

            <br><br>

            <select name="kernel">

                <option value="31">31</option>
                <option value="51">51</option>
                <option value="61" selected>61</option>
                <option value="81">81</option>
                <option value="101">101</option>

            </select>

            <br><br><br>

            <button
                class="button"
                type="submit">

                Upload & Process

            </button>

        </form>

    </div>

</div>

</body>

</html>