<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>Intrinsic Reflectance Recovery</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="container">

    <h1>Intrinsic Reflectance Recovery</h1>

    <h3>
        Upload an image to estimate illumination and recover intrinsic reflectance.
    </h3>

    <div class="card">

        <form action="/process"
              method="POST"
              enctype="multipart/form-data">

            <h2>Select Image</h2>

            <br>

            <input
                type="file"
                name="image"
                accept="image/*"
                required>

            <br><br><br>

            <button class="button" type="submit">
                Upload & Process
            </button>

        </form>

    </div>

</div>

</body>

</html>